<div class="nav left-on-tablet-down">
	<a class="nav-closer show-on-tablet-down" href="#">&times;</a>
	<div class="nav-header">
		<div class="nav-header-wrapper">
			<h3 class="nav-title">{{@blog.title}}</h3>
			<span class="nav-desc">{{@blog.description}}</span>
		</div>
	</div>
	<div>
		{{#foreach navigation}}
			<a href="{{url absolute="true"}}" class="nav-link nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
				<span>{{label}}</span>
			</a>
		{{/foreach}}
	</div>
	{{#if @labs.subscribers}}
		<a class="subscribe-button icon-feed" href="{{@blog.url}}/subscribe/"></a>
	{{else}}
		<a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/"></a>
	{{/if}}
</div>

<a class="menu-button icon-menu show-on-tablet-down" href="#"><span class="word">Menu</span></a>
<span class="nav-cover"></span>

<div class="body-opacity"></div>
