<article class="grid-item {{post_class}}" data-grid data-grid-index="{{@index}}">
	<header class="post-header">
		<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
	</header>
	<hr class="post-divider">
	<section class="post-excerpt">
		<p>{{excerpt words="26"}}</p>
	</section>
	<a class="read-more" href="{{url}}"></a>
	<footer class="post-meta">
		{{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
		{{author}}
		{{tags prefix=" on "}}
		<time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
	</footer>
</article>
